body {
background-image: url("background.jpg");

}
.Button{
width: 200px; 
height: 50px;
}

h1.name{
font-size: 40px;
text-align: center;
color: #545454;
}
img.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px
}

div {
display: block;
}