<html>
 <head><title>Contacts</title><head>
 <h1>Contacts</h1>
 <body>
 <table>
 <tr>

 <td>Name</td>
 <td>Phone</td>
 <td>Email</td>
 <td>Address</td>
 </tr>
 {% for contact in contacts_list %}
 <tr>
	<form action = "{% url 'editcontact' Contacts.id %}" method = "post">
	{% csrf_token %}
	<td>
	{{ Contacts.name }}</td>
	<td>
	{{ Contacts.number }}</td>
	<td>
	{{ Contacts.email }}</td>
	<td>
	{{ Contacts.Address }}</td>
	<input type="submit" value="Edit" name = "Edit">
	<input type="submit" value="Delete" name = "Delete">
	</form>
 </tr>
 

 {% endfor %}</table>
 </body>
 </html> 