/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require jquery.ui.all
 *= require_self
 */
 
html,body{ 
	width:100%; 
	min-width: 800px;
	height: 100%;
}

@font-face { 
	font-family: arabi-bold; src: url('arabi-bold.otf');
	format("opentype"); 
}

@font-face { 
	font-family: arabi-light; src: url('arabi-light.otf');
	format("opentype"); 
}

html{
	background: #fdfdfd;
}

body{
	text-align:right;
	font-family: arabi-light;
	width: 100%; 
	height: 100%;
	margin: 0 0;
	margin-top:-10px;
}

.the_body{
	background-image:url('pattern.png');
	background-repeat:repeat;
	min-height: 100%;
  height: auto !important;
  height: 100%; 
}

.tabBar {
	background-color: #ebebeb;
	background-color: #e08f46;
	height: 4px;
	position: absolute;
	top: 0px;
	width: 110px;
	background-color: rgb(235, 235, 235);
}
	
.right{
	float: right;
}	
.active{
	background-color: rgb(69, 162, 224);
}
		
::selection {
	background-color: rgb(165, 234, 243);
}
	
#navigation_container {
	margin: 0 auto;
	width: 100%;
}

#navigation {
	padding-left: 120px;
}

#navigation li {
	height:51px;
	width:110px;
	font-family: arabi-bold,"BebasNeueRegular", Helvetica, sans-serif;
	text-align: center;
	list-style: none;
	display: block;
	float: left;
	vertical-align: top;
}

#navigation li a {
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: 1.6em;
	margin-top: 11px;
	line-height: 28px;
}

#navigation li:hover{
	background-color: #fafafa;
}

.rectangle {
	background: #ffffff;
	height: 51px;
	position: relative;
	z-index: 500;
	border-bottom: 1px solid #eceff2;
	box-shadow: 0 1px 0 rgb(180, 180, 180);
}

.logo{
	background-image:url('logo.png');
	width:44px;
	height:51px;
	float: right;
	margin-right: 120px;
}

#wrapper {
	margin:0;
	padding-right:320px;
	position: relative;
	height: 100%;
	overflow: hidden;
	min-height: 600px;
}

div#content{
  min-height:100%; 
}

#content{
	width: 100%;
}

#sidebar{
	direction: rtl;
	color: #fafafa;
	width: 320px;
	background:#1b1b1b;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
  min-height:100%;
	overflow-y: auto;
	word-wrap:break-word;
  height: 200px;
}

#side_content{
	position: absolute;
	display: block;
	word-wrap:break-word;
	width: 290px;
	margin: 0px 10px 0px 10px;
}
#sidebar h4{
	text-align: center;
}

#sidebar hr{
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#sidebar a{
	font-size: 12px;
	color: #747474;
	text-decoration: none;
	text-align: center;	
	text-align: left;
}

.add_comment{
	left: 20px;
	display: table-cell;
	height: 35px;
	width: 35px;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(69, 162, 224);
	color:white;
}
.add_comment:hover{
	background-color: rgb(50, 124, 173);
	cursor:pointer
}

footer{
	color: #656565;
	padding:0px 240px 0px 240px;
	padding-bottom: 20px;
	background-color: white;
}
		
hr {
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
	margin-top: 0px;
}

iframe {
	border: 0px;
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
}

.social_bookmarks {
	border: medium none;
	display: block;
	float: left;
	list-style-type: none;
	list-style-position: outside;
	margin: 0 0 10px 0px;
}

.social_bookmarks li {
	float: left;
	margin: 0 7px 0 0;
	width: 22px;
}

.social_bookmarks li a {
	border: medium none;
	display: block;
	float: left;
	height: 22px;
	padding: 0;
	text-indent: -9999px;
	width: 22px;
	outline: none;
}

.social_bookmarks .facebook a {
background: transparent url('sprite-icons.png') 0 0 no-repeat;
}

.social_bookmarks .twitter a {
background: transparent url('sprite-icons.png') -22px 0 no-repeat;
}
.social_bookmarks .google a {
background: transparent url('sprite-icons.png') -44px 0 no-repeat;
}

.social_bookmarks .facebook a:hover {
background: transparent url('sprite-icons.png') 0 -22px no-repeat;
}

.social_bookmarks .twitter a:hover {
background: transparent url('sprite-icons.png') -22px -22px no-repeat;
}
.social_bookmarks .google a:hover {
background: transparent url('sprite-icons.png') -44px -22px no-repeat;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.container{
	color: #fafafa;
	background-color: #1b1b1b;
	padding: 0px 20px 0px 20px;
}


#slidebutton{
	position: fixed;
	top: 50%;
	margin-left: -10px;
	z-index: 1000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;    
	-webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
 	transition: all 0.1s linear;
}

#slidebutton:hover{
	opacity: 0.7;
}

::-webkit-scrollbar {
	width: 8px;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(69, 69, 69,0.9);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(69, 69, 69,0.4); 
}

#sidebar::-webkit-scrollbar {
	width:  2px;
}
 
#sidebar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
#sidebar::-webkit-scrollbar-thumb {
  background: rgba(69, 162, 224,0.9);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#sidebar::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(69, 162, 224,0.4); 
}