// Place all the styles related to the cardsorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popup-darkscreen{
	width:100%;
	height:100%;
	position:absolute;
	z-index: 99;
	background-image: url(/assets/semi-transparent-black-screen.png);
	top:0%;
	display:none;
}

.popup-window{
	box-shadow: 3px 3px 15px 16px black;
	border-radius: 25px;
	background-color:black;
	margin: auto;
	width: 500px;
	height: 300px;
	margin-top: 125px;
	color:white;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
}

.title{
	margin-bottom:20px;
	margin-top:20px;
	top:20%;
	width:80%;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
}

.scrollable{
	display:block;
	overflow-y:scroll;
	height:530px;
}

#cards{
	width: 100%;
	height: 100%;
	top: 130px;
}

.card{
	margin-bottom: 20px;
	float: right;
	margin-left: 15px;
	width: 55px;
	height: 75px;
	background-size: contain;
	background-image: url(/assets/card.png);
}

.new-card{
	background-image: url(/assets/new-card.png);
}

.selected-card{
	margin-top: -10px;
	box-shadow: -5px 16px 10px 1px gray;
}

#main-card{
	border: solid;
	border-width: 1px;
	border-color: lightgray;
	border-radius: 20px;
	padding: 20px;
	height: 130px;
}

#thumbnail{
	float: right;
	margin-left: 20px;
}

#details{
	float: right;
}

#main-card-wrapper{
	height: 200px;
	margin: 20px;
	margin: 20px;
	margin-right: 0px;
}

#add-button{
	display: inline-block;
	background-image: url(/assets/add-button.png);
	width: 120px;
	height: 120px;
	background-size: contain;
	background-color: transparent;
	margin-top: -10px;
	outline: none;	
}

#add-button:active{
	margin-top: 0px;
	width: 110px;
	height: 110px;
}

#title{
	margin-top: 20px;
}

#description{
	width: 400px;
}

.cardsort-input{
	Width: 95%;
	text-align: left;
}

#cards-table td{
	height: 20px;
	text-align: left;
}

