.container{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: transparent;
}

#wrapper{
	background: transparent;
}

.sidebar{
	color: #fafafa;
	width: 110%;
	background:#1b1b1b;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	min-height:100%; 
	word-wrap:break-word;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	box-shadow: 0px 0px 8px 2px black;
}

#cards-view{
	z-index: 2;
	left: 80%;
}

#cards-content{
	height: 100%;
	float: left;
}

#cards-thumbnail{
	overflow-y: hidden; 
	min-width: 268px;
	min-height: 100%;
	height: 100%;
	list-style-type: none;
}

#cards-thumbnail:hover{
	overflow-y: scroll; 
}

#cards-list{
	display: none;
}

#groups-view{
	left: 78.5%;
	top: 1.5%;
	z-index: 1;
}

#groups-content{
	height: 100%;
	float: left;
}

#groups-thumbnail{
	overflow-y: hidden;
	border: 1px solid transparent;
	min-width: 268px;
	min-height: 100%;
	height: 100%;
	list-style-type: none;
}

#groups-thumbnail:hover{
	overflow-y: scroll; 
}

#groups-list{
	display: none;
}


.sidebar-tag{
	background-color: #759eb2;
	background:-moz-linear-gradient(80% 66% 270deg, #759eb2, #1b1b1b 90%);
	background: -webkit-gradient(linear, left top,left bottom, from(#759eb2), to(#1b1b1b));
	box-shadow: 0px 0px 4px 4px #1b1b1b;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	width: 70px;
	height: 30px;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	text-align: center;
	margin-top: 47px;
	margin-left: -44px;
	display: inline-block;
	float: left;
	cursor: hand; cursor: pointer; 
}

#groups-tag{
	 margin-left: -46px;
}

.card{
	float: left;
	margin-left: 15px;
	width: 178px;
	height: 189px;
	background-size: contain;
	margin-top: 20px;
	background-color: transparent;
}

.card-label{
	font-weight: 900;
	margin-left: 48px;
	margin-top: 11px;
	text-align: center;
}

.card-p{
	color: black;
	margin-right: 24px;
	margin-top: -15px;
	text-align: center;
	width: 77%;
	margin: 9% 13% auto 10% ;
}

.card-blue{
	background-image: url(/assets/normal_card_b.png);
}

.card-red{
	background-image: url(/assets/normal_card_r.png);
}

.card-yellow{
	background-image: url(/assets/normal_card_y.png);
}

.group{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 164px;
	height: 188px;
	background-size: cover;
	background-position: left;
	background-color: transparent;
	background-image: url(/assets/group.png);
}

.group-label{
	font-weight: 900;
	margin-right: 24px;
	margin-top: -15px;
	text-align: center;
	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
}

.group-p{
	margin-right: 24px;
	margin-top: -15px;
	text-align: center;
	width: 50%;
	margin: 17% 0% auto 10% ;
	transform: skewY(8deg);
	-webkit-transform: skewY(8deg);
	float: left;
}

.add-button{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 164px;
	height: 188px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: transparent;
	background-image: url(/assets/Add_button.png);
}

.add-button:hover{
	background-size: 70px 70px;
}

.add-button:active{
	background-size: 50px 50px;
}


.view-button{
	height: 36px;
	width: 40px;
	background-repeat: repeat-x;
	background-image: url(/assets/view_button_background.png);
	margin-top: 10px;
}

#trash{
	float: left;
	position: fixed;
	bottom: 100px;
	left: 0px;
	width: 55px;
	height: 67px;
	float: bottom;
	background-size: contain;
	padding: 10px;
	margin-left: 20px;
}

.main-wrapper{
	margin-top: auto;
	width: 350px;
	height: 360px;
	margin: auto;
	background-size: contain;
	margin-top: 12%;
}

#main-card{
	background-image: url(/assets/normal_card_y.png);
	color: darkgray;
}

#main-card-title{
	background-color: transparent;
	margin-top: 30px;
	margin-right: 30px;
	border-style: none;
	font-family: arabi-light; src: url('arabi-light.otf');
	format("opentype");
	text-align: center; 
}

#main-card-desc{
  background-color: transparent;
  border-style: none;
  display: block;
  height: 210px;
  margin-left: 43px;
  margin-top: 33px;
  width: 239px;
  font-family: arabi-light; src: url('arabi-light.otf');
	format("opentype");
	text-align: right;
}

#main-group{
	color: darkgray;
	background-image: url(/assets/group.png);
	background-size: cover;
  height: 360px;
  margin: 12% auto auto;
  width: 307px;
  color: white;
  display: none;
}

#main-group-title{
	background-color: transparent;
	margin-top: -37px;
	margin-right: 65px;
	border-style: none;
	font-family: arabi-light; src: url('arabi-light.otf');
	format("opentype");
	transform: rotate(7deg);
	text-align: center;
	color: white;
}

#main-group-desc{
  background-color: transparent;
  border-style: none;
  display: block;
  height: 253px;
  margin-left: 43px;
  margin-top: 54px;
  width: 133px;
  font-family: arabi-light; src: url('arabi-light.otf');
	format("opentype");
	transform: skewY(8deg);
	-webkit-transform: skewY(8deg);
	color: white;
	text-align: right;
}

.error-box{
	background-color: #F9EDBE;
    border-radius: 2px 2px 2px 2px;
    color: black;
    left: 40%;
    margin: -24px;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: #f0c36d;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: none;
}

img{
	height: 100%;
	width: 100%;
}

table{
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

td{
	padding: 10px;
}

.btn{
	margin-right: 129px;
  margin-top: 25px;
}

.alt-row{
	background-color: #303030
}

::-webkit-scrollbar{
	width: 2px;
}

::-webkit-scrollbar-thumb{
	background-color: lightblue;
}

::-webkit-input-placeholder {
    color: #FF0909;
}
:-moz-placeholder {
    color: #FF0909;
}
::-moz-placeholder {
    color: #FF0909;
}
:-ms-input-placeholder {
    color: #FF0909;
}

#review-groups-view{
	right: 78.5%;
	z-index: 1;
}

#review-group-tag{
	background-color: #759eb2;
	background:-moz-linear-gradient(80% 66% 270deg, #759eb2, #1b1b1b 90%);
	background: -webkit-gradient(linear, left top,left bottom, from(#759eb2), to(#1b1b1b));
	box-shadow: 0px 0px 4px 4px #1b1b1b;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	width: 70px;
	height: 30px;
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 47px;
	margin-right: -45px;
	transform: rotate(270deg) scale(-1) skew(0deg) translate(0px);
	-webkit-transform: rotate(270deg) scale(-1) skew(0deg) translate(0px);
}

#review-groups-content{
	height: 100%;
	float: right;
}

#review-groups-thumbnail{
	overflow-y: hidden;
	border: 1px solid transparent;
	min-width: 268px;
	min-height: 100%;
	height: 100%;
	list-style-type: none;
}

#review-groups-thumbnail:hover{
	overflow-y: scroll; 
}

.review-group{
	margin-top: 20px;
	margin-right: 20px;
	float: right;
	width: 164px;
	height: 188px;
	background-size: cover;
	background-position: left;
	background-color: transparent;
	background-image: url(/assets/group.png);
}

.filled-group{
	background-image: url(/assets/group_filled.png);
	margin-right: 75px;
}

.card-name{
	margin-left: 1px;
	margin-right: 1px;
}	

.added-cards{
	margin-right: -50px;
	height: 100%;
	float: right;
	width: 80px;
}

#submit{
	height: 19px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 85%;
    width: 65px;
}

#review-trash{
float: right;
	position: absolute;
	width: 55px;
	height: 67px;
	background-size: contain;
	padding: 10px;
	right: -110px;
	bottom: 6%;
}

.crumpled{
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(/assets/crumpled.png);
	background-color: transparent;
}

.review-add-button{
	float: right;
	margin-top: 20px;
	margin-left: 20px;
	width: 164px;
	height: 188px;
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: transparent;
	background-image: url(/assets/Add_button.png);
}

.review-add-button:hover{
	background-size: 70px 70px;
}

.review-add-button:active{
	background-size: 50px 50px;
}
