// Place all the styles related to the cardsorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popup-darkscreen{
	width:100%;
	height:100%;
	position:absolute;
	z-index: 99;
	background-image: url(/assets/semi-transparent-black-screen.png);
	top:0%;
	display:none;
}

.popup-window{
	box-shadow: 3px 3px 15px 16px black;
	border-radius: 25px;
	background-color:black;
	margin: auto;
	width: 500px;
	height: 300px;
	margin-top: 125px;
	color:white;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
}

.title{
	margin-bottom:20px;
	margin-top:20px;
	top:20%;
	width:80%;
	border-bottom: solid;
	border-width: 1px;
	border-color: white;
}
