#todos {
	padding-top: 40px;
}

.todo,
.new-todo {
	padding: 20px 0;
}

.todo {
	border-bottom: 1px dotted #ddd;
}

.todo.finished label {
	text-decoration: line-through;
}

.new-todo input {
	background: transparent
}