body {
	text-align: center;
	min-width: 1000px;
	min-height: 750px;
}

.container{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#wrapper{
	/*position: fixed;*/
	padding-right: 280px;
	min-width: 1000px;
	min-height: 740px;
}

#toolbox{
	width: 229px;
	height:750px;
	float: left;
	left: 0px;
	border: solid;
	border-left: none;
	border-width: 1px;
	position: relative;
	background-color: lightgray;
	/*border-radius: 20px;*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; 
	padding-left: 10px;
	padding-bottom: 20px;
	display: inline-block;
}

#sidebar{
	border: solid;
	border-color: black;
	border-width: 2px;
	overflow: visible;
	width: 229px;
	z-index: 3;	
	min-height: 0%;
	min-width: 0%;
	height: 700px;
}

#main{
	text-align: left;
	width: 1000px;
}

#designpage{
	width:100%;
	height:694px;
	text-align: center;
	background-repeat: repeat-y;
  	background-position: 0 0;
  	border:1px solid black;
	float:right;
 	position: relative;
 	padding: 10px;
 	box-shadow: 0px 0px 10px 10px lightgray inset;
 	/*overflow: scroll;;*/
 	/*border-radius: 10px;*/
}

#content{
	margin-left: 20px;
	min-width: 1000px;
	min-height: 700px;
}

.appended{
	position: absolute;
}

.toolboxelement{
	z-index: 1000;
	width: 50px;
	border-radius: 5px;
	height: 50px;
	text-align: center;
	display: inline-block;
	vertical-align: center; 
}


.tblhdr{
	background-color: black;
	font-color: white;
}

.tbldevs{
	/*height: 70px;*/
	width: 210px;
	height: 10px;
	border: none;
	/*width: 100%;*/
}

.properties{
	width: 219px;
	background-color: transparent;
	height: 220px;
	overflow-y: scroll;
	text-align: right;
	visibility: hidden;
	margin-right: 10px;
}

.prop_panel{
	background-color: transparent;
}

.inp{
	width: 70px;
	height: 15px;
	/*visibility: hidden;*/
	border-radius: 5px;
	text-align: center;
	/*float: left;*/
	/*margin-left: 10%;*/
	display: inline-block;
}

.p_prop{
	/*float: left;*/
	/*visibility: hidden;*/
	display: inline-block;
	width: 90px;
	text-align: right;
}

.trc{
	width: 229px;
	margin-right: 20px;
	/*display: inline-block;*/
}

.arrow{
	background-color: #3790e8;
	width: 18px;
	border-radius: 3px;
	left: 0px;
	top: 288px;
	position: absolute;
}

.colordiv{
	z-index: 10000;
	display: inline-block;
	padding:2px;
	margin-top: 5px;
	border: solid;
	border-width: 2px;
	border-color: grey;
}

.image-panel{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: #fafafa;
	width: 229px;
	background:#1b1b1b;
	position: absolute;
	top: 1%;
	height: 703px;
	right: 1.5%;
	bottom: 0;
	word-wrap:break-word;
	overflow: visible;
}

.sidebar-tag{
	background-color: #759eb2;
 	background:-moz-linear-gradient(80% 66% 270deg, #759eb2, #1b1b1b 90%);
	background: -webkit-gradient(linear, left top,left bottom, from(#759eb2), to(#1b1b1b));
  	box-shadow: 0px 0px 4px 4px #1b1b1b;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	width: 40px;
	height: 30px;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

#image-panel-tag{
	top: 5%;
	left: -15%;
}

#toolbox-tag{
	top: 4%;
	left: -15%;
}

#image-panel{
	overflow-y: scroll;
	position: absolute;
	height: 520px;
	width: 229px;
}

#drop-area{
	border-style: dashed;
	border-width: 2px;
	border-color: white;
	padding: 40px;
	margin: 30px;
}

.thumbnail{
	margin-bottom: 10px;
	margin-left: 20px;
	width: 70%;
}

progress{
	width: 70px;
	height: 5px;
}

.accordiondiv{
	padding-bottom: 10px;
	padding-top: 10px;
	overflow:visible;
	height: 70px;
}