.embeddedDiv a{
  cursor: crosshair;
}

.embeddedDiv button{
  cursor: crosshair;
}

.embeddedDiv input{
  cursor: crosshair;
}

.embeddedDiv img{
  cursor: crosshair;
}

.cursorPressed{
  border-style:inset;
}

h2{
  font-size:200%;
  text-align:center;
}