#x-button{
	text-decoration: none;			
}

#x-button div{
	font-family: sans-serif;
	font-size: 10px;
	width : 0px;
	height :20px;
	/*border-color: lightgray;*/
	/*border-width: 2px;*/
	text-align: center;
	font-size: 25;
	/*background-color: gray;*/
	margin-top: 25px;
	margin-bottom: -5px;
	color: #333333;
	cursor: pointer;
	line-height: 20px;
	border-radius: 20px;
}