body{
	text-align:right;
	font-family: arabi-light;
	width: 100%; 
	height: 100%;
	margin: 0 0;
	margin-top:-10px;
}

.container{
	background: transparent;
	font-family: arabi-light;
}

.read,.page_content,.links,.read{
	display: none;
}

#tit{
	font-family: arabi-bold;
	padding: 10px 10px 0px 10px;
	float: right;
	display: inline-block;
	font-size: 38px;
}

#tb{
	display: inline-block;
	height: 1px;
	background-color: gray;
	width: 100%;
}

canvas{
	outline: 1px solid rgba(65,65,65,0.4);
}

.titleS{
	padding: 10px 10px 10px 10px;
}

#navigation_container{
	margin-top: -10px;
}
		
.titleS hr {
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
	margin-top: 0px;
	bottom: 0px;
	position: absolute;
}