/*author ahmed jihad*/

html,body{
	overflow: hidden;
}
#navigation_container {
	margin: 0 auto;
	width: 100%;
}
.rectangle {
	background: #ffffff;
	height: 51px;
	position: relative;
	z-index: 500;
	border-bottom: 1px solid #eceff2;
	box-shadow: 0 1px 0 rgb(180, 180, 180);
}

.logo{
	background-image:url('logo.png');
	width:44px;
	height:51px;
	top: 0;
	right: 0;
	position: absolute;
	float: right;
	margin-right: 120px;
}

.bar_top
{
	position: absolute;
	padding-top:0px;
	margin-top:0px;
	top: 0;
	right: 0;
	left: 0;
}

#icons{
	padding-left: 10%;
	padding-top: 8%;
	position: absolute;
	z-index: 3;
}
.pattern
{
	width: 100%;
	height: 100%;
	background-image: url("/images/pattern.png"); 
	background-repeat:repeat;
	position: absolute;
	top: 0;
	z-index: 1;
}

.slide_images{
	height: 100%;
	width:100%;
	z-index: 3;
}

.slide_control_left{
	background:none; 
	border:none;
	left:75%;
	top:40%;
}
.slide_control_right{
	background:none; 
	border:none;
	right: 20%;
	top:40%;
	position: absolute;
}
.slide_r_img{
	right:30%;
	top: 0;
	position: absolute;
	z-index: 55;
}
.register
{
	bottom: 25%;
	left: 10%;
	position: absolute;
	z-index: 3;
}
#who_are_we{
	background-color: black;
	top:100%;
	height: 100%;
	width:100%;
	position: absolute;
}
.under
{
	width: =100%;
}
#glimpse
{
	background-color: #eaeaea;
	top:200%;
	height: 100%;
	width:100%;
	position: absolute;
}
#slide{
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding:0px;
	margin:0px;
	border: 0px;
	z-index: 2;
	opacity: 0.95;
}
.image_background
{
	background-image: url("/images/pic_background.jpg");
	background-repeat:repeat;
}
.sign_up
{
	opacity: 0.8;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}

.sign_up:hover
{
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}
.facebook_icon
{
	width: 52px;
	height: 52px;
	opacity: 0.6;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	padding-left:10px;
}

.facebook_icon:hover
{
	cursor:pointer;
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}
.twitter
{
	padding-top: 4px;
	right:80%;	
	position: absolute;
	opacity: 0.7;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}

.twitter:hover
{
	cursor:pointer;
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}

.login_image {
	opacity: 0.6;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
	padding-right:10px;
	padding-left:10px;
	}	

.login_image:hover
{
	cursor:pointer;
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

/*login form for guest to fill*/
.login_form {
  display:none;
  width: 270px;
  height: 160px;
  margin: 60px auto 10px;
  padding: 10px;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 2px;
  background: linear-gradient(#eeefef, #ffffff 10%);
  padding-bottom: 0px;
  position: absolute;
  opacity: 0.8; 
  z-index: 3;
}
 
.forgot_password
{
	float:right;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.center
{
	padding-right:100px;
	padding-left:100px;
}
.left
{
	padding-right:25px;
	padding-left:20px;
}
.right
{
	padding-left:25px;
	padding-right:25px;
}
.page1:hover
{
	cursor: pointer;
}
.page2:hover
{
	cursor: pointer;
}
.page3:hover
{
	cursor: pointer;
}
.left:hover
{
	cursor: pointer;
}
.right:hover
{
	cursor: pointer;
}
.center:hover
{
	cursor: pointer;
}
.copy
{
	padding-top: 6px;
	right: 0;
	padding-right:3%; 
	color: black;
	opacity: 1;
	position: absolute;
}
.copy:hover
{
	color: black;
	text-decoration:none
}
.foot{
	position: absolute;
	width: 100%;
	border-radius: 0px;
	bottom: 0; 
	padding: 0;
	margin: 0px;
	border: 0px;
	left:0;
  z-index: 3;
}
.last_table{
	height: 79%;
	width: 100%;
	z-index: 2;
	position: relative;
	top: 15%;
	overflow: auto;
}
.screenshot{
	width: 60%;
	height: 85%;
	padding-right:10%;
	z-index: 2; 
	position: absolute;
}
.words{
	bottom: 0;
	margin-right: 20px;
	color: white;
	font-size: 20px;
	padding: 10px;
	padding-bottom: 5px;
	position: absolute;
	z-index: 2;
	background-color: #222222;
	opacity:0.8;
	margin-top: 10px;
}

.wordTitle{
	bottom: 8%;
	margin-right: 20px;
	color: white;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
	padding-bottom: 10px;
	position: absolute;
	z-index: 2;
	background-color: #222222;
	opacity:0.8;
}
.screenimg{
	width: 100%;
	height: 100%;
	border-style:solid;
	border-width:10px;
	border-color: white;
	-webkit-box-shadow: 0px 2px 6px;
}
.pattern3
{
	width: 100%;
	height: 100%;
	background-image: url("/images/pattern.png"); 
	background-repeat:repeat;
	position: absolute;
	top: 0;
	z-index: 1;
	opacity: 0.05;
}
.error{
	opacity: 0.65;
	position: absolute;
	width: 30%;
	text-align: right;
	top: 10%;
	left: 35%;
	z-index: 20;
}
