#form_button{
border-top: 1px solid;
border-color: #CCC;
background-color: #4d90fe;
border-radius: 2px;
display: inline-block;
font-weight: bold;
height: 29px;
line-height: 29px;
min-width: 54px;
padding: 0 8px;
text-align: center;
}
