
#content{
  left: 0px;
}

.Project_Name{
  width: 70%;
  height: 20px;
  margin-left: 15%;
  background-color: rgb(184,184,184) ;
  text-align: center;
}

.popup-darkbackground{
  height: 100%;
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(72, 72, 72);
  opacity: 0.7;
  display: none;
}

.popup-createProject{
  margin: auto;
  width: 300px;
  height: 500px;
  margin-top: 125px;
  position: absolute;
  top: 0px;
  left: 455px;
  color:black;
  padding-left:20px;
  padding-right:20px;
  background-color:white;
  display: none;
}

.icon-remove{
  top:0px;
  right:6px;
  float: left;
  display: none;
}

#Close{
  top:0px;
  float: left;
  display: block;
}

.save{
  border-radius: 0px;
  right:270px;
  position: absolute;
}

#arrow{
  background-color: #3790e8;
  width: 18px;
  border-radius: 3px;
  left: 50px;
  top: 200px;
}


#sidebar {
  height: 100%;
  position:fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow:visible;
}

#error_project{
  top: 0px;
  float: right;
}

.project-div{
  height: 200px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
}

img{
  width: 100%;
  height: 100%;
}

.body{
  background-color: rgb(48, 48, 48);
}
