.qquestion{
	border: 1px solid rgb(223, 223, 223);
	width: 100%;
}

.portlet{
	display: inline-table;
}

#qbuilder{
	margin:auto;
	background-color:rgb(243, 243, 243);
	min-width: 600px;
}

.qquestion label{
	float: right;
	min-width: 150px;
}

.qquestion div{
	display: block;
	margin: 0px 10px 0px 10px;
	width: 80%;
}

input,select ,select option{
	text-align: right;
	font-family: arabi-light;
}

.add_choice{
	display: none;
}

.question_to_delete{
	display: none;
}


.qquestion{
	border: 1px solid rgb(223, 223, 223);
	width: 100%;
}

.portlet{
	display: inline-table;
}

#qbuilder{
	margin:auto;
	background-color:rgb(243, 243, 243);
	min-width: 600px;
}

.qquestion label{
	float: right;
	min-width: 150px;
}

.qquestion div{
	display: block;
	margin: 0px 10px 0px 10px;
	width: 80%;
}

input,select ,select option{
	text-align: right;
	font-family: arabi-light;
}

.add_choice{
	display: none;
}

.question_to_delete{
	display: none;
}

 
