.container,#qbuilder,.qquestion{
	background: rgba(255,255,255,0.8);
	height: 100%;
	position:relative;
}

.container{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.errors{
	direction: rtl;
}

.qquestion{
	padding: 10px 10px 10px 10px;
	cursor: move;
	height: 100%;
	border-right: 4px solid rgb(69, 162, 224);
	border-bottom: 1px solid rgb(230,230,230);
}

.shadow{
	box-shadow: inset -2px -2px 2px  rgba(0,0,0,0.5);
	-moz-box-shadow: inset -2px -2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset -2px -2px 2px rgba(0,0,0,0.5);
	background-color: rgb(240, 240, 240);
}

.selected{
	-moz-box-shadow: -5px -5px 5px rgb(140, 140, 140);
	-webkit-box-shadow: -5px -5px 5px rgb(140, 140, 140);
	box-shadow: -5px -5px 5px rgb(140, 140, 140);
	width: 100%;
	border: 1px solid black;
}

.portlet{
	display: inline-table;
}

#qbuilder{
	color: black;
	padding-top: 20px;
	margin:auto;
	min-width: 600px;
}

.qquestion label{
	float: right;
	min-width: 150px;
}

.add_choice{
	display: none;
}

.submit_button{
	background-color: rgb(69, 162, 224);
	border: none;
	color: #ffffff;
	float: left;
	margin-left: 20px;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
}

.submit_button:hover{
	background-color: rgb(59, 126, 172);
}

.question_view,.choices_view{
	display: block;
	font-size: 24px;
}

.title{
	width: 98.5%;
	height: 100px;
	font-size: 30px;
	font-weight: bold;
	border: 1px solid black;
	display: block;
	padding: 0px;
}

.input_text,.paragraph_text {
	display: inline-block;
	background-color: rgb(120, 120, 120);
	opacity: 0.4;
	width: 300px;
	height: 25px;
	border-radius: 2px;
	border: 1px dashed #fdfdfd;
}

.paragraph_text{
	width: 600px;
	height: 150px;
}

.ui-icon{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	float: left;
	text-align: left;
}

.ui-icon:hover{
	background-color: rgb(200, 200, 200);
}

.question_to_delete{
	display: none;
}

.choice_to_delete{
	display: inline-block;
	position: absolute;
	float: right;
	margin-right: 20px;
	z-index: 1000;
}

.circle,.box{
	vertical-align: middle;
	text-align: center;
	display: none;
	background-color: white;
	width: 10px;
	height: 10px;
	border: 1px solid gray;
}

.circle{	
	border-radius: 50%;
}

input,select ,select option{
	text-align: right;
	font-family: arabi-light;
}

select {
	direction: rtl;
	font-weight: bold;
	outline:0px;
	-webkit-appearance: none;
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url('down_arrow_select.jpg') no-repeat left #ddd;
	border: 1px solid #ccc;
	text-align: right;
}

option {
	text-align: right;
	background: lightgrey;
	width: 228px;
	padding: 5px;
	border: 1px solid #CCC;
	font-size: 16px;
	height: 34px;
	outline:0px;
	-webkit-appearance: none;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	background-color: rgb(200, 200, 200);
	opacity: 0.7;
	color: black;
	font-size: 16px;
	display: inline-block;
}