/*  These Styles are used in the reviewing Pages */
.container{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}



iframe {
	border: 0px;
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
}

.form_message{
	display: none;
}

.pressed{
	margin-left: 24px;
}

.pressed:hover{
	cursor:pointer;
}

.note {	
	direction: rtl;
	position:absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 165px;
	background:#ffc;
	font-size: 180%;
	color: black;
	padding: 5px;
	z-index: 1000;
	font-size: 18px;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-o-transform:rotate(0.4deg);
	-webkit-transform:rotate(0.4deg);
	-moz-transform:rotate(0.4deg);
}

#comments{
	height: 100%;
}

textarea.message_area {
  width: 90%;
  height: 50px;
  color:#FFEFD5;
  overflow: auto;
  background: rgba(255,255,255,0);
  resize: none;
 	border-color: #151515;
  
}

.textarea{
	height: 170px;
	overflow-y: scroll;
}

.hide{
	display:none;
}
.show{
	display:block;
}

#delete_comment{
	margin-left: 24px;
}

#submit_comment:hover{
	background-color: rgb(90, 80, 60);
	cursor:pointer;
	width: 20px; 
}

#submit_comment{
	width: 20px; 
}

.add_comment{
	display: inline-block;
	font-size: 20px;
	height: 29px;
	width: 35px;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(69, 162, 224);
	color:white;
}

.add_comment:hover{
	background-color: rgb(50, 124, 173);
	cursor:pointer;
}

#delete_comment:hover{
	background-color: rgb(90, 80, 60);
	cursor:pointer;
}

.circle_button{
	margin-top: -10px;
	border-radius: 50%;
	color: #dfdfdf;
	display: inline-block;
	height: 20px;
	width: 20px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(190, 170, 120);
	cursor:pointer;
	position: absolute;
	float: left;
	border: none;
	bottom: 8px;
	left: 8px;
}

.blue_circle{
	background-color: rgb(48, 156, 184);
	color: white;
	height: 23px;
	border-radius: 50%;
	border-width: 0px;
}
.note a{
	color:#000000;
	text-decoration: none;
	text-align: center;
}

.note_controls {
	font-size: .7em;
	margin-top: 10px;
}

#note_adder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background-color:#333;
	border: 1px solid black;
	opacity: .95;
	position: absolute;
	top: 40%;
	left: 40%;
	height: 65px;
	width:  200px;
	z-index: 1000;
}

#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}

#drag_resize img {
	width: 100%;
	height:100%;
}

#drag_resize{
	width: 200px; 
	height: 200px; 
	position:absolute; 
	z-index:1000;
	display:none;
	cursor:move
}

.ui-resizable-helper {
	border: 1px dotted gray;
}
		
.circle_settings{
	color: #dfdfdf;
	display: table-cell;
	height: 10px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(60, 60, 60);
	cursor:pointer;
}

#choose_area{
	border-right: 1px solid gray;
}

#choose_area:hover{
	background-color: rgb(100, 100, 100);
}

#delete_circle:hover{
	background-color: rgb(100, 100, 100);
}

.hide textarea{ 
	font-size: 18px;
	font-family: arabi-light,"BebasNeueRegular", Helvetica, sans-serif;
	text-align: right;
	height: 150px;
	overflow-y: auto;
	width:100%;
	background-color: transparent;
	border: none;
	resize: none;
	padding: 0;
	margin: 0;
	outline: none;
	-moz-appearance:none;
}

.hide textarea:focus{	
	direction: rtl;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	outline:none;
}

#html_content{
	display:none;
}

#assignedpart{
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	display:none;
}

.delete_button{
	background-color: transparent;
	border: none;
	color: gray;
	font-size: 12px;
	font-family: arabi-light;
}

.lilbuttonc,.add_comment{
	display: table-cell;
}

.pointer{
	cursor: pointer;
}


#content{
	background-color: white;
}

.thequestion:hover,.comments:hover{
	background-color: rgba(60,60,60,0.3);
}

