/*  These Styles are used in the reviewing Pages */
iframe {
	border: 0px;
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
}

.form_message
{
	display: none;
}

.btn_custom {
	-moz-box-shadow:inset -18px 1px 0px -22px #ffffff;
	-webkit-box-shadow:inset -18px 1px 0px -22px #ffffff;
	box-shadow:inset -18px 1px 0px -22px #ffffff;
	background-color:transparent;
	-moz-border-radius:32px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #000000;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 13px;
	text-decoration:none;
	text-shadow:1px 0px 30px #ffffff;
}

.btn_custom:hover{
	background-color: rgb(190, 190, 190);
	cursor:pointer;
}

.pressed{
	margin-left: 24px;
}

.pressed:hover{
	cursor:pointer;
}

.note {
	position:absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 165px;
	background:#ffc;
	font-size: 180%;
	color: black;
	padding: 5px;
	z-index: 1000;
	font-size: 15px;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-o-transform:rotate(0.6deg);
	-webkit-transform:rotate(0.6deg);
	-moz-transform:rotate(0.6deg);
}

textarea#message_area {
  width: 100%;
  height: 50px;
  color:#ffffff
}

.textarea{
	height: 170px;
	overflow-y: scroll;
}

.hide{
	display:none;
}
.show{
	display:block;
}

#delete_comment{
	margin-left: 24px;
}

#submit_comment:hover{
	background-color: rgb(90, 80, 60);
	cursor:pointer;
}

#delete_comment:hover{
	background-color: rgb(90, 80, 60);
	cursor:pointer;
}

.circle_button{
	margin-top: -10px;
	border-radius: 50%;
	color: #8f8f8f;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(190, 170, 120);
	cursor:pointer;
	position: fixed;
	right: 8px;
	left :10px;
	bottom: 8px;
	border: 0px;
}

.note a{
	color:#000000;
	text-decoration: none;
}

.note_controls {
	font-size: .7em;
	margin-top: 10px;
}

#note_adder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background-color:#333;
	border: 1px solid black;
	opacity: .95;
	position: absolute;
	top: 40%;
	left: 40%;
	height: 65px;
	width:  200px;
	z-index: 1000;
}

#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}

#drag_resize img {
	width: 100%;
	height:100%;
}

#drag_resize{
	/*background-image:url('circle.png');*/
	width: 200px; 
	height: 200px; 
	position:absolute; 
	z-index:1000;
	display:none;
}

.ui-resizable-helper {
	border: 1px dotted gray;
}
		
.circle_settings{
	color: #8f8f8f;
	display: table-cell;
	height: 10px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(60, 60, 60);
	cursor:pointer;
}

#choose_area{
	border-right: 1px solid gray;
}

#choose_area:hover{
	background-color: rgb(100, 100, 100);
}

#delete_circle:hover{
	background-color: rgb(100, 100, 100);
}

textarea{ 
	font-family: arabi-light,"BebasNeueRegular", Helvetica, sans-serif;
	text-align: right;
	height: 150px;
	overflow-y: scroll;
	width:100%;
	background-color: transparent;
	border: 0px;
	resize: none;
}

#html_content{
	display:none;
}

#assignedpart{
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	display:none;
}