.desc {
position: absolute;
background-color: white;
left : 1000px; 
top :10px;
border-style: outset;
border-color: #3399FF;
border-width: 5px;
border-radius: 8px;
}

.goal {
  position: absolute;
  left:10px;
  top:20px;
  border-style: inset;
  border-color: #3399FF;
  border-width: 5px;
  border-radius: 8px;
}

#info_form {
  display: none;
  position: absolute;
  left : 1000px;
  top : 10px;
  z-index: 4; 
}

#coloured {
  position: absolute;
  background-color: gray;
  left :0%;
  top:  0%;
  right: 0%;
  z-index: 1;
  opacity: 0.5;
  height: 180%;
  display: none;
}
