.desc {
position: absolute;
left : 900px; 
top :15%;
border-style: outset;
border-color: #3399FF;
border-width: 5px;
border-radius: 8px;
background-color: rgba(0, 0, 0, 0.5);
display: none;
}

.goal {
  border-radius: 0px;
  background-color: rgba(69, 162, 224,0.9);
  text-align: center;
  min-height: 20px;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;

}

#info_form {
  display: none;
  position: absolute;
  left : 900px;
  z-index: 1000; 
  background-color: white;
  padding: 20px;
  color: black
}

#coloured {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left :0%;
  top:  0%;
  right: 0%;
  z-index: 900;
  opacity: 0.7;
  height: 180%;
  display: none;
}

#time_out {
  display: none;
  position: absolute;
  left:0px;
  top:20%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#form_title{
  border: 1px;
  border-bottom: 1px solid;
}

.form_button{
  
}