Rails/WebsitesPrototypeBuilder/db/schema.rb
Rails/WebsitesPrototypeBuilder/Gemfile.lock
*.log
*.sqlite3
Rails/WebsitesPrototypeBuilder/tmp
Rails/WebsitesPrototypeBuilder/public/projects
Rails/WebsitesPrototypeBuilder/log
