body {
background-image:url("bg.jpg");
background-size:cover;
}

.BioArea {
background-image:url("bg2.jpg");
background-size:cover;
background-repeat:no-repeat;
display:block;
margin:auto;
width:500px;
height:300px;
left:auto;
top:350px;
left:650px;
position:absolute;
}

img {
    margin: 50px;
    height: 40%;
    width:15%;
    display:none;
  
}

h1 {
     width:40px;
    height:45%;
    width:120%;
    background-size:cover;
     position:absolute;
     display:inline;
    text-indent:-9999em;
    background-repeat:no-repeat;
}

.name1 {
        top:20%;
        left:-200%;
    background-image:url("name1.png");
   
    
    

}

.name2 {
    top:5%;
    left:300%;
    background-image:url("name2.png");
}

div {
    display:none;
    margin:50px;
    font-family:Haettenschweiler;
    font-size:24pt;
}