<html dir="rtl">
	<head>
		<title></title>
	</head>
	<body>
		<h1>Home Page</h1>
		 <div id='fb-root'></div>
	    <div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p id='msg'></p>
	</body>
</html>

<br/><br/>
<%= link_to "Projects", "projects" %>
<br/><br/>
<%= link_to "DesignPage", :controller => :projects, :action => :design, :project_id => 1%>
