<html dir="rtl">
	<head>
		<title></title>
	</head>
	<body>
		<h1>Home Page</h1>
		 <div id='fb-root'></div>
   		 <script src='http://connect.facebook.net/en_US/all.js'></script>
   		 <p><a onclick='postToFeed(); return false;'>Post to Feed, click here</a></p>
   		 <p id='msg'></p>
	    <script> 
	      FB.init({appId: "346985668734261", status: true, cookie: true});
	     </script>
	</body>
</html>

<br/><br/>
<%= link_to "Projects", "projects" %>
<br/><br/>
<%= link_to "DesignPage", :controller => :projects, :action => :design, :id => 1 %>
