<h1>Groups and Cards</h1>

<h2>Groups</h2>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.title %></td>
  </tr>
<% end %>

<br />

<h2>Cards</h2>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.title %></td>
  </tr>
<% end %>

<br />