<p>مرحباً <%= @resource.email %>!</p>

<p>قام أحداً بطلب تغيير كلمة المرور، للمتابعة إضغط على الرابط التالي </p>

<p><%= link_to 'تغيير كلمة المرور', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>إذا لم تقم بهذا الطلب، منفضلك تجاهل هذا البريد.</p>
<p>لن تتغير كلمة المرور قبل الضغط على الرابط و إختيار كلمة مرور جديدة.</p>
