<p>مرحباً <%= @resource.email %>!</p>

<p>تم غلق حسابك مؤقتاً بسبب تكرار إدخال كلمات مرور خاطئة </p>

<p>إضغط على الرابط التالي لفك الحساب:</p>

<p><%= link_to 'فك حسابي', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>