<%= stylesheet_link_tag "pages_view"%>

<div class="titleS">
	<div id="tit">الصفحات</div><div id="tb"></div>
</div>

<% @pages.each do |page| %>
<div class="span4">
	<img src="/assets/page.png" width="200px" >
	<p><%= page.page_name %></p>
  <p class ="opt"><%= link_to 'دعوة لمراجعة',:controller => :pages, :action => :reviewer, :id => page %></p>
  <p class ="opt"><%= link_to 'إضافة أسئلة',:controller => :pages, :action => :designer, :id => page %></p>
</div>
<%end%>
