
<h2> Title </h2>
<div><%= @page.page_name%></div>
<h4> Html </h4>

<iframe id="preview_mode" src=<%="../#{@page.project_id}/#{@page.page_name}.html"%> width="100%" height="100%"></div>

<div><%= @page.html%></div>