<% @page_title = "UserAuth | Login" -%>
<div class= "login">
<%= form_tag(:action => 'login_attempt') do %>
 <%= text_field_tag(:username_or_email, nil ,:placeholder => "Username") %>
  <%= password_field_tag :login_password, nil, :placeholder => "Password"%>
<%= submit_tag("Log In") %>
<% end %>
</div>
<div class="shadow"></div>