body {
    background-image: url("bg.jpg");
    background-repeat:repeat;
}

img {
    height: 400px;
    width:300px;
    display:none;
    position:absolute;
    top:0px;
    left:40%;
  
}

h1 {
     width:50%;
    height:20%;
    background-size:contain;
     position:absolute;
     display:block;
    text-indent:-9999em;
    background-repeat:no-repeat;
}

.name1 {
        top:45%;
        left:-200%;
    background-image:url("name1.png");
   
    
    

}

.name2 {
    top:65%;
    left:300%;
    background-image:url("name2.png");
}

div {
    top: 50%;
    position:absolute;
    display:none;
    
}

