<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>

  <div>
    <p>Enter the contact's info below please! :)</p>
    <form action="#">
      <dl>
        <dt>Name: </dt>
        <dd><input type="text" name="name"></dd>

        <dt>E-mail: </dt>
        <dd><input type="text" name="user_email"></dd>

         <dt>Number: </dt>
        <dd><input type="text" name="num"></dd>

        <dt>Address: </dt>
        <dd><textarea name="addrs" rows="10" cols="20"></textarea></dd>

        <dt> </dt>
        <dd><input type="submit"></dd>
      </dl>
    </form>
  </div>

</body>
</html>