<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body class="background">

  <div>
    <p>{{msg}}</p>

      {% if error %}
        <p style="color: red;">Please Enter the required info.</p>
      {% endif %}

      <h3>Add a new contact: </h3>

    <form action="/addcontact/" method="get">
      <dl>
        <dt>Name: </dt>
        <dd><input type="text" name="name"></dd>

        <dt>E-mail: </dt>
        <dd><input type="text" name="user_email"></dd>

        <dt>number: </dt>
        <dd><input type="text" name="num"></dd>

        <dt>Address: </dt>
        <dd><input type="text" name="addrs"></dd>

        <h3>Add a custom field: (optional) </h3>

         <dt>field name: </dt>
        <dd><input type="text" name="fn"></dd>

         <dt>field content: </dt>
        <dd><input type="text" name="fc"></dd>

        <dt> </dt>
        <dd><input type="submit"></dd>
      </dl>
    </form>
  </div>

</body>
</html>