<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body class="background">

  <div>
    <p>Enter your info below!</p>

      {% if error %}
        <p style="color: red;">Please Enter your info.</p>
      {% endif %}
    <form action="/register/" method="get">
      <dl>
        <dt>Name: </dt>
        <dd><input type="text" name="name"></dd>

        <dt>Username: </dt>
        <dd><input type="text" name="user_name"></dd>

        <dt>E-mail: </dt>
        <dd><input type="text" name="user_email"></dd>

         <dt>Password: </dt>
        <dd><input type="password" name="pass"></dd>

        <dt> </dt>
        <dd><input type="submit"></dd>
      </dl>
    </form>
  </div>

</body>
</html>