.info {
	width: 500px;
	font-size: 15px;
	color: rgb(255,255,255);
	font-family: verdana;
	display:none;
 
}
ul.list {
	list-style: none;
	
	
}

.background{
	background-image: url('background.jpg');
	background-size: 1500px 900px;
	background-repeat: no-repeat;
}

div.img {
	 margin-left: auto;
    margin-right: auto;
    width: 200px
}

h1.text{
	color: rgba(0,255,0,0.9);
	text-align: center;

}


h2.about{
	color: rgb(255,255,255);
}
.role{
	color: rgb(255,255,255);
}

div.tech{
		width: 500px;
	font-size: 15px;
	color: rgb(255,255,255);
}

h2.tech{
	color: rgb(255,255,255);
}