<div id='wrapper'>
	<div id='content'>

		<div id='main-card'>
			<img id='thumbnail' src="/assets/card.png" alt='card thumbnail'>
			<div id='details'>
				<input  id='title' type="text" />
				<br/>
				<textarea id='description'></textarea>
			</div>
			</div>

		<div id='cards'>
			<div class='card' card-index='18'>
			</div>
			<div class='card'card-index='17'>
			</div>
			<div class='card'card-index='16'>
			</div>
			<div class='card'card-index='15'>
			</div>
			<div class='card'card-index='14'>
			</div>
			<div class='card'card-index='13'>
			</div>
			<div class='card'card-index='12'>
			</div>
			<div class='card'card-index='11'>
			</div>
			<div class='card'card-index='10'>
			</div>
			<div class='card'card-index='9'>
			</div>
			<div class='card'card-index='8'>
			</div>
			<div class='card'card-index='7'>
			</div>
			<div class='card'card-index='6'>
			</div>
			<div class='card'card-index='5'>
			</div>
			<div class='card'card-index='4'>
			</div>
			<div class='card'card-index='3'>
			</div>
			<div class='card'card-index='2'>
			</div>
			<div class='card selected-card'card-index='1'>
			</div>
			<div class='card new-card'card-index='0'>
			</div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
	setCardEffects();
</script>