<div id='wrapper'>
	<div id='content'>

		<div id='main-card'>
			<img id='thumbnail' src="/assets/card.png" alt='card thumbnail'>
			<div id='details'>
				<input  id='title' type="text" />
				<br/>
				<textarea id='description'></textarea>
			</div>
		</div>

		<div id='cards'>
			<div class='card'>
			</div>
		</div>

		<div id='cards'>
			<div class='card'>
			</div>
		</div>

		<div id='cards'>
			<div class='card'>
			</div>
		</div>

	</div>
</div>