<div id="wrapper">
	<div id="sidebar">
	</div>
	<div id="content">
		<ul class="nav nav-tabs">
			<li class='active'>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Home</a>
			</li>
		</ul>
		<div class="scrollable">
			<table id="cards-table" class="table table-bordered table-hover">
				<thead>
					<tr class="well">
						<th>Label</th>
						<th>Description(obtional)</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script>
 	fillTable("cards-table");
</script>