<%= stylesheet_link_tag "drag_drop"%>
<%= javascript_include_tag "drag_drop"%>

<body>
		<!-- main div containing toolbox and design page -->
		<div id="main">
			<!-- toolbox containing elements to add to the design page -->
			<div id="toolbox">
				<!-- table with all the available toolbox elements -->
				<table>
					<tr>
						<table>
							<thead class="brand"><h3 style="text-align: center">Toolbox</h3></thead>
							<tbody>
								<tr>
									<td class="tbldevs">
										<div id="buttondiv" class="drag toolboxelement">
											<button class="toolboxelement btn">Button</button>
										</div>
									</td>
								</tr>
								<tr>
									<td class="tbldevs">
										<div id="imagediv" class="drag toolboxelement">
											<img src="/assets/gimg.jpg" width="20px" hight="20px" class="toolboxelement">
										</div>
									</td>
								</tr>
								<tr>
									<td class="tbldevs">
										<div id="labeldiv" width="20" class="drag toolboxelement" style="background-color: red">
											<label class="toolboxelement">Label</label>
										</div>
									</td>
								</tr>
								<tr>
									<td class="tbldevs">
										<div id="hyperlinkdiv" class="drag toolboxelement">
											<a href="#" class="toolboxelement">Hyperlink</a>
										</div>
									</td>
								</tr>
								<tr>
									<td class="tbldevs">
										<div id="textareadiv" class="drag toolboxelement">
											<textarea class="toolboxelement" style="resize: none">Text Area</textarea>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</tr>
					<hr size="3">
					<tr>
						<br>
						<div class="tabbable"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
						    	<li class="active"><a href="#properties" data-toggle="tab">Properties</a>
						    	</li>
						    	<li><a href="#events" data-toggle="tab">Events</a></li>
							</ul>
							<div class="tab-content">
						    	<div class="tab-pane active" id="properties">
						      		<p id = "eid"></p>
						      		<p id = "width"></p>
						      		<p id = "height"></p>
						    	</div>
						    	<div class="tab-pane" id="events">
						      		<p>Howdy, I'm in Section 2.</p>
						    	</div>
						  	</div>
						</div>
					</tr>
				</table>
			</div>
			<!-- empty design page -->
			<div id="designpage" class="ui-widget-content">
				<p>Design page here</p>
			</div>
		</div>
	</body>