<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @msg %></p>
    <p>لقد تم دعودك لتقييم ترتيب أوراق على موقع عربلتي، للمتابعة إضغط <%= link_to "هنا.", @url %>
  </body>
</html>