<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= "Someone commented on your page" %> </h1>
    <p>
      <%= @reviewer_email "commented on your page and said :" @comment "at" @timestamp %>
    </p>
    <img src="/assets/page_#{@page_name}">
    <p>Thanks!</p>
  </body>
</html>