<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @msg %> </h1>
    <p>
      To go to your task, just follow this link: 
      <%= link_to "Prototyper task", @url %>
    </p>
    <p>Thanks!</p>
  </body>
</html>