<h1 align = "right"> المشاريع </h1>

<table align = "right">
  <tr>
    <th></th>
    <th>مشروع</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to 'اظهار', project_tasks_path(project)%></td>
    <td><%= project.name %></td>
  </tr>
<% end %>
</table>