<!-- Include your Stylesheet and Js files-->
<%= stylesheet_link_tag "mystyle"%>
<%= javascript_include_tag "myjs"%>
<style type="text/css">
	/* If you want the view to take the full width of the page if not remove it(.container)*/
	.container{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
</style>

<!-- To Use Sidebar layout -->
<!-- The main container -->
<div id="wrapper">
	<!-- This is the slider button -->
	<div style="float: right;"><img id="slidebutton" src="/assets/slider_button.png" width="38px" height="41px"></div>
	<!-- Anything in this Div will be added to the right-sidebar -->
	<div id="sidebar">
		<!-- This side_content is used to make the sidebar sticky-->
		<div id="side_content">

			<!-- YOUR DATA HERE -->

		</div>
	</div>	


	<!-- Main Content -->
	<div id="content"> 

		<!-- If you want to activate the preview mode -->
		<iframe id="preview_mode" src=<%="../#{@page.project_id}/#{@page.page_name}.html"%> width="100%" height="100%"></div>

	</div>

</div>