<!-- Include your Stylesheet and Js files-->
<%= stylesheet_link_tag "mystyle"%>
<%= javascript_include_tag "myjs"%>
<style type="text/css">
	/* If you want the view to take the full width of the page if not remove it(.container)*/
	.container{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
</style>

<!-- To Use Sidebar layout -->
<!-- The main container -->
<div id="wrapper">
	
	<!-- Anything in this Div will be added to the right-sidebar -->
	<div id="sidebar">
	</div>	


	<!-- Main Content -->
	<div id="content"> 
	</div>

</div>