body {
	  text-align: center;
}

#toolbox{
	width: 200px;
	height:550px;
	border:1px solid black;
	float:left;
}

#main{
	text-align: left;
	  width: 720px;
	  margin-left: auto;
	  margin-right: auto;
}

#designpage{
	width:513px;
	height:550px;
	text-align: center;
	background-repeat: repeat-y;
    background-position: 0 0;
   	border:1px solid black;
   	float:right;
   	position: relative;
}

.appended{
	position: absolute;
}

.toolboxelement{
}

.tbldevs{
	padding-top: 10px;
}
