#design {
	background-color: white;
	padding-bottom: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right: 150px;
}

#mainpage{
	padding-top: 30px;
	padding-bottom: 30px;
	/*padding-right: */
	background-color: cyan;
}

div.c1{
	background-color: red;
	margin-right: 1000px;
}
