h2>Edit blog name</h2>

<%= form_for [@user, @user_blog] do |form| %>
	<p>
		<%= form.text_field :name, :placeholder => "Title" %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to "Back", user_path(@user) %>