<h1> Blog: <%= @user_blog.name %> </h1>

<% @blogposts1.each() do |blogpost| %>
	<hr >
	<h3 > 
		<%= link_to blogpost.title, {:action => :show, :id => blogpost}, {:style => 'color:darkblue;'} %>

	</h3>
	<span style="color:gray"> <%= blogpost.content %> </span>
<% end %>	
<hr>
<br/>
