h1{
	font-family: monospace;
	font-style: italic; 
	text-align: center;
}
.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
	font-family: monospace;
}
p{
	font-family: cursive;
}
#techs{
	font-family: cursive;
}