<h1 align="center">Home</h1>
</br>

<p> <%flash[:notice]%> </p>

<% if(!session[:user_id]) %>
<%= link_to 'Register', new_user_path %>
<%= link_to 'login', :controller => 'sessions', :action => :login%>
<% else %>
<%= link_to 'Profile', '/profile'%>
<% end %>

<div>