body {
	background-image: url("background.jpg");
}
h1.name{
	font-size: 50px;
	text-align: center;
	color: #FF0000;
}
img.profile{
    display: block;
 margin-left: auto;
    margin-right: auto;
    width: 200px
}

div {
	display: block;
}

h2{ font-size:35px; color: #5E2D79 }
h3{ font-size:35px; color: #5E2D79 }
p{font-size:20px; color: #FFFFE0;}
ul{font-size:20px; color: #FFFFE0;}