#ProfPic {
	margin-left: 5%;
	margin-top: 5%;
	height: 100px;
	float:left;
}
#H {
	float:left;
	margin-left: 5%;
	margin-top: 2%;
}
h1{
	color:black;
}
h3{
	text-indent: 30px;
}
p{
	text-indent: 30px;
}