<!-- A Partial to render the choices creation field for question-->
<div class ="fields">
		<!-- A link to remove the choice -->
		<%= f.link_to_remove "", :class=>"ui-icon ui-icon-close choice_to_delete"%>
	  <%= f.text_field :body %>
		<div class="circle"></div>
		<div class="box"></div>
		</br>
</div>