<<<<<<< HEAD
<!-- A Partial to render the choices creation field for question-->
<div class ="fields">
  <%= f.text_field :body %></br>
  <!-- A link to remove the choice -->
  <%= f.link_to_remove "امسح", :class =>"choice_to_delete" %>
=======
<!-- A Partial to render the choices creation field for question-->
<div class ="fields">
  <%= f.text_field :body %></br>
  <!-- A link to remove the choice -->
  <%= f.link_to_remove "امسح", :class =>"choice_to_delete" %>
>>>>>>> master
</div>