<%= stylesheet_link_tag "questionnaire_builder"%>
<%= javascript_include_tag "questionnaire_builder"%>


<div id='qbuilder'>

		<%= render 'form' %>

		<div id="sortable">			
				<div class="qquestion"><span onclick="del(this);"class="ui-icon ui-icon-close"></span><span class="ui-icon ui-icon-pencil"></span>
					<div>
						<select>
							<option value="1">نص</option>
							<option value="2">فقرة</option>
							<option value="3">خيارات متعددة</option>
							<option value="4">مربعات</option>
						</select>
						<input placeholder="السوال"></input>
					</div>
					<div>
						<input></input>
					</div>
				</div>

				<div class="qquestion"><span onclick="del(this);"class="ui-icon ui-icon-close"></span><span class="ui-icon ui-icon-pencil"></span>
					<div>
						<select>
							<option value="1">نص</option>
							<option value="2">فقرة</option>
							<option value="3">خيارات متعددة</option>
							<option value="4">مربعات</option>
						</select>
						<input placeholder="السوال"></input>
					</div>
					<div>
						<textarea></textarea>
					</div>
				</div>

				<div class="qquestion"><span onclick="del(this);"class="ui-icon ui-icon-close"></span><span class="ui-icon ui-icon-pencil"></span>
					<div>
						<select>
							<option value="1">نص</option>
							<option value="2">فقرة</option>
							<option value="3">خيارات متعددة</option>
							<option value="4">مربعات</option>
						</select>
						<input placeholder="السوال"></input>
					</div>
					<div>
						<a>+</a>
						<a>-</a>
						<input placeholder="اختيار"></input>
					</div>
				</div>

			</div>
		</div>


		<p onclick="create_textQuestion();">new text-question</p>
		<%= link_to 'Back', questionnaires_path %>

</div>