<h2> Invitation Params </h2>

<p> The task id from the URL: <%= params[:task_id] %> </p>

<h2> Invitation Params </h2>

<p> The task id from the URL: <%= params[:task_id] %> </p>

<p> The reviewer id from the URL: <%= params[:reviewer_id] %> </p>